@page
@model FarmApplication.Pages.Fields.IndexModel

@using System.Security.Claims

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Field List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="AddField" class="btn btn-primary">
				Create new field
			</a>
		</div>
	</div>

	<br /><br />

	<!-- this will show a set notification for when one of the three actions is performed on the database. Notification can be found at the end of the .cs files -->
	@if (TempData["Fsuccess"] != null)
	{
		
		<p class="text-success">@TempData["Fsuccess"]</p>


	}
	@if (TempData["FEsuccess"] != null)
	{

		<p class="text-success">@TempData["FEsuccess"]</p>

	}
	@if (TempData["FDsuccess"] != null)
	{

		<p class="text-success">@TempData["FDsuccess"]</p>

	}
	@{
		var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier); // Retrieve current user's ID
	}

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Field name
				</th>
				<th>
					Field size
				</th>
				<th>
					Latitude1
				</th>
				<th>
					Longitude1
				</th>
				<th>
					Latitude2
				</th>
				<th>
					Longitude2
				</th>
				<th>
					Latitude3
				</th>
				<th>
					Longitude3
				</th>
				<th>
					Latitude4
				</th>
				<th>
					Longitude4
				</th>
				
				
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.Fields.Where(f => f.UserID == currentUserId))

			{
				<tr>
					<td width="10%">@obj.FieldName</td>
					<td width="10%">@obj.FieldSize</td>
					<td width="10%">@obj.Latitude1</td>
					<td width="10%">@obj.Longitude1</td>
					<td width="10%">@obj.Latitude2</td>
					<td width="10%">@obj.Longitude2</td>
					<td width="10%">@obj.Latitude3</td>
					<td width="10%">@obj.Longitude3</td>
					<td width="10%">@obj.Latitude4</td>
					<td width="10%">@obj.Longitude4</td>
					<td>
						<div class="w-75 btn-group" role="group">
						<a asp-page="EditField" asp-route-id="@obj.FieldID" class="btn btn-primary mx-2">Edit
						</a>
						<a asp-page="DeleteField" asp-route-id="@obj.FieldID" class="btn btn-danger mx-2">Delete</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<head>
		<title>Map for fields</title>

		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	</head>
	<body>

		<h1>Map of fields for user</h1>
		<div id="map"></div>
		@section Scripts {
			<script>
				var fieldsData = [
				@foreach (var obj in Model.Fields.Where(f => f.UserID == currentUserId))
				{
					<text>{ 
						Latitude1: @obj.Latitude1, Longitude1: @obj.Longitude1,
						Latitude2: @obj.Latitude2, Longitude2: @obj.Longitude2,
						Latitude3: @obj.Latitude3, Longitude3: @obj.Longitude3,
						Latitude4: @obj.Latitude4, Longitude4: @obj.Longitude4,

						}, </text>
				}
					];
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXhl_GzMw20renhg092Eksy1GqMT1r3VM&callback=initMap&v=weekly"async defer></script>
			<script src="~/js/site.js"></script>
		}

	</body>

</div>
